# Directories
**/.idea
**/__pycache__
**/codepastes
**/graphs
**/gen
**/hlp_*
**/.files
**/.pytest_cache
**/catboost_info
**/other

# Specific files
main.py
test.py
.coverage

# Extensions
*.log
*.zip

# Filenames
output.*
gen_*.*
julia*.*
!example*.*
!PIC.*.log
